proteus/Backup Of LightController.pdsbak
proteus/Library/Backup*
firmware/CC2530DB/EndDeviceEB

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
